// Utilities
@import "utilities/variables";
@import "utilities/home";
@import "utilities/mov-suit";
@import "utilities/mov-g";
@import "utilities/facesense";
@import "utilities/contact";
@import "utilities/form";
@import "utilities/footer";
@import "utilities/menu";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');


@font-face {
  font-family: 'font-bold';
  src:  url('src/webfonts/PlusJakartaSans-Bold.woff2') format('woff2'),
  url('src/webfonts/PlusJakartaSans-Bold.woff') format('woff'),
}

@font-face {
  font-family: 'font-regular';
  src:  url('src/webfonts/PlusJakartaSans-Regular.woff2') format('woff2'),
  url('src/webfonts/PlusJakartaSans-Regular.woff') format('woff'),
}

@font-face {
  font-family: 'font-light';
  src:  url('src/webfonts/PlusJakartaSans-Light.woff2') format('woff2'),
  url('src/webfonts/PlusJakartaSans-Light.woff') format('woff'),
}

@font-face {
  font-family: 'Hellix-regular';
  src: local('Hellix Regular'), local('Hellix-Regular'),
      url('src/webfonts/Hellix-Regular.woff2') format('woff2'),
      url('src/webfonts/Hellix-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix-bold';
  src: local('Hellix Bold'), local('Hellix-Bold'),
  url('src/webfonts/Hellix-Bold.woff2') format('woff2'),
  url('src/webfonts/Hellix-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Inter', 'sans-serif';
  color: #fff;
  background: #000000;
}

h2 {
  font-family: Hellix-regular;
}

h5 {
  font-family: Hellix-bold;
}

.heading-bold {
  font-family: Hellix-bold;
  color: #FEB404;
}

p, span {
  font-family: 'Inter', 'sans-serif';
}

#loader {
  top: 50%;
  left: 0;
  animation: spin 1s linear infinite;

  img {
    width: 50px;
  }
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  right: 0;
  margin: auto;
}


input.valid {
  color: #ffff;
}

input:focus {
  background-color: #da0000;
}

input#date {
  color: #9e9e9e;
  font-size: 1rem;
}

input:not([type]), 
input[type=text]:not(.browser-default), 
input[type=password]:not(.browser-default), 
input[type=email]:not(.browser-default), 
input[type=url]:not(.browser-default), 
input[type=time]:not(.browser-default), 
input[type=date]:not(.browser-default), 
input[type=datetime]:not(.browser-default), 
input[type=datetime-local]:not(.browser-default), 
input[type=tel]:not(.browser-default), 
input[type=number]:not(.browser-default), 
input[type=search]:not(.browser-default), 
textarea.materialize-textarea {
  color: #9E9E9E;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 100;
}

.modal {
  max-height: 90%;
  // background: rgba(3, 16, 26, 1) !important;
  background-color: #021425 !important;
  color: #fff;
  position: fixed;

  .btn-submit {
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    padding: 10px 40px;
    border: 1px solid rgba(144, 202, 249, 0.5);
    border-radius: 5px;
    background-color: transparent;
    color: rgb(144, 202, 249);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    &:hover {
      // background: rgba(144, 202, 249, 0.08);
      background: $orange;
      border: 1px solid rgb(144, 202, 249);  
    }
    span {
      text-transform: uppercase;
    }
  }

  .preloader-wrapper.active {
    position: absolute;
  }

  .preloader-wrapper.big {
    width: 22px;
    height: 22px;
    top: 100.1rem;
  }

  .spinner-blue, .spinner-blue-only {
    border-color: #90caf9;
  }
  
  .modal-content {
    h5 {
      text-align: center;
      color: orangered;
      margin-bottom: 30px;
      // font-family: font-bold;
    }
  }

  .form-footer {
    text-align: center;
  }

  .suite-option {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;

    p {
      margin-right: 50px;
    }
  }

  .form-title {
    color: orangered;
    font-weight: bolder;
    font-size: 16px;
    margin: 0 auto;
  }

  div.other.col.s10 input {
    height: 25px;
    border-bottom: 1px solid #26a69a;
    display: none;
  }

  .agreement-desc {
    font-size: 12px;
    color: #fff;
  }
}

button.btn.modal-trigger {
  &:hover {
    background: orangered;
  }
}

.comparisonSection {
  position: relative;
  padding-bottom: 56.25%; /* to maintain aspect ratio (responsive!) */
  
  .comparisonImage {
    width: 100%;
    height: 100%;
  
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;    
    }
  
    &.afterImage {
      position: absolute;
      overflow: hidden;
      top: 0;
      transform: translate(100%, 0px);
  
      img {
        transform: translate(-100%, 0px);
      }
    }
  }
}
#set-height   {
  display: block;
}

#v0 {
  position: fixed;
  top: 0;
  left: 0;  
  width: 100%;
}

.btn-loading {
  display: none;
}

.d-none {
  display: block;
}

.btn-onload {
  transform: translateX(-5px);
  display: inline-block;
  transition: all 0.5s ease;
}
