@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Kanit:wght@100&display=swap");
.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.bg-video-wrap .ring-wrapper {
  position: absolute;
  margin: 0;
  -webkit-transform: translate(55%, -10%);
          transform: translate(55%, -10%);
  width: 90%;
  z-index: 3;
  opacity: 0.8;
}

.bg-video-wrap video {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}

.bg-video-wrap .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.5) 50%);
  background-size: 3px 3px;
  z-index: 2;
}

.bg-video-wrap .overlay2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(0, 0, 0, 0.3)), to(black));
  background: linear-gradient(-180deg, rgba(0, 0, 0, 0.3) 10%, black 100%);
  z-index: 2;
}

.bg-video-wrap .main-wrapper img {
  position: absolute;
  text-align: center;
  z-index: 3;
  top: 250px;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%;
  height: auto;
}

.bg-video-wrap .main-desc {
  margin: auto;
  top: 450px;
  left: 0;
  text-align: center;
  color: #fff;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.bg-video-wrap .btn-slide {
  position: absolute;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, #FEB404 0%, #BB5D05 100%);
  width: 100px;
  height: 100px;
  left: 0;
  right: 0;
  bottom: 100px;
  z-index: 3;
  margin: auto;
  padding: 28px;
  letter-spacing: 1.5px;
  line-height: 1.3;
}

.bg-video-wrap h3 {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 250px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  max-width: 400px;
  width: 100%;
  height: 50px;
}

.bg-video-wrap .afterImage {
  position: absolute;
  overflow: hidden;
  top: 0;
  -webkit-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
  z-index: 5;
}

.bg-video-wrap .afterImage .profile {
  overflow: hidden;
  top: 10%;
  width: 100%;
  z-index: 100;
  position: absolute;
  padding: 100px 150px;
  color: #fff;
}

.bg-video-wrap .afterImage .profile h2 {
  line-height: 60px;
  color: #fff;
}

.bg-video-wrap .afterImage .profile img {
  -webkit-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

@media only screen and (min-width: 601px) and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  .bg-video-wrap .afterImage .profile {
    padding: 100px 50px 50px;
    top: 0;
  }
}

@media (max-width: 600px) {
  .bg-video-wrap .afterImage .profile {
    padding: 20px;
  }
  .bg-video-wrap .afterImage .profile p {
    font-size: 15px;
  }
}

.bg-video-wrap .profile-wrapper {
  position: absolute;
  top: 20%;
  right: 20%;
  z-index: 10;
  color: #fff;
}

.bg-video-wrap .profile-wrapper h2 {
  line-height: 1px;
}

.bg-video-wrap .intro-desc {
  top: 40%;
  right: 20%;
  color: #fff;
  position: absolute;
  z-index: 10;
}

.bg-video-wrap .comparisonImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
}

@media (max-width: 600px) {
  .bg-video-wrap .comparisonImage img {
    -o-object-position: 60% 0%;
       object-position: 60% 0%;
  }
}

.product-section {
  width: 100%;
  left: 0;
  height: auto;
  z-index: 100;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-18.71%, #000000), color-stop(-0.84%, #000000), color-stop(28.02%, #000000), color-stop(69.32%, rgba(0, 31, 61, 0.987368)), color-stop(106.24%, #002E59));
  background: linear-gradient(180deg, #000000 -18.71%, #000000 -0.84%, #000000 28.02%, rgba(0, 31, 61, 0.987368) 69.32%, #002E59 106.24%);
  padding: 100px 150px;
  color: #fff;
}

@media (max-width: 600px) {
  .product-section {
    padding: 20px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(-18.71%, #000000), color-stop(-0.84%, #000000), color-stop(0%, #000000), color-stop(30%, rgba(0, 31, 61, 0.987368)), color-stop(106%, #002E59));
    background: linear-gradient(180deg, #000000 -18.71%, #000000 -0.84%, #000000 0%, rgba(0, 31, 61, 0.987368) 30%, #002E59 106%);
  }
  .product-section .service-content {
    padding: initial !important;
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
    margin-bottom: 250px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
  .product-section {
    padding: 150px 50px;
  }
}

.product-section.row {
  margin-bottom: 0;
}

.product-section h2 {
  line-height: 60px;
}

.product-section .image-left {
  position: relative;
  width: 100%;
}

.product-section .image-left img {
  width: 80%;
}

@media (max-width: 600px) {
  .product-section .image-left img {
    position: absolute;
    left: 10%;
    right: 10%;
    -webkit-mask-image: -webkit-gradient(linear, left 10%, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  }
}

.product-section .product-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 3em;
  position: relative;
}

.product-section .product-option h5 {
  color: #FEB404;
}

.product-section .product-option a.product-lists {
  vertical-align: top;
  color: #fff;
  width: 100%;
  border-radius: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 20px;
  margin-right: 10px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-24.94%, rgba(254, 180, 4, 0.94243)), color-stop(-24.94%, #00739F), color-stop(90%, rgba(0, 46, 89, 0)));
  background: linear-gradient(180deg, rgba(254, 180, 4, 0.94243) -24.94%, #00739F -24.94%, rgba(0, 46, 89, 0) 90%);
  z-index: 1;
}

@media (max-width: 600px) {
  .product-section .product-option a.product-lists {
    margin-bottom: 50px;
  }
}

.product-section .product-option a.product-lists::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1em;
  padding: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#00b3ff), color-stop(20%, rgba(0, 179, 255, 0.3)), color-stop(50%, rgba(0, 0, 0, 0)));
  background: linear-gradient(180deg, #00b3ff 0%, rgba(0, 179, 255, 0.3) 20%, rgba(0, 0, 0, 0) 50%);
  mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.product-section .product-option a.product-lists:hover .image-option {
  background-size: 110%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-section .product-option a.product-lists:hover .image-option:before {
  -webkit-transform: rotate(45deg) scale(1.1);
          transform: rotate(45deg) scale(1.1);
  opacity: 0.3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-section .product-option a.product-lists:hover .image-option:after {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: rotate(45deg) scale(1.1);
          transform: rotate(45deg) scale(1.1);
}

.product-section .product-option a.product-lists:hover .logo-anim {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-section .product-option a.product-lists:hover .image-option img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-section .product-option a.product-lists span {
  font-size: 16px;
}

.product-section .product-option a.product-lists .logo-anim {
  width: 105px;
  height: 105px;
  background: url("img/btn-circle.svg") no-repeat;
  background-size: cover;
  left: 50px;
  bottom: 9px;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 10;
}

.product-section .product-option a.product-lists .image-option {
  overflow: hidden;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-section .product-option a.product-lists .image-option .img-wrapper {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.product-section .product-option a.product-lists .image-option .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  border-radius: 50%;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-section .product-option a.product-lists .image-option:before {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: url("img/btn-circle.svg") no-repeat;
  background-size: cover;
}

.product-section .product-option a.product-lists .image-option:after {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  background: linear-gradient(136.42deg, #FEB404 2.52%, #F7941C 45.39%, #BB5D05 80.94%);
  z-index: -1;
  opacity: 0;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-section {
  padding: 100px 0 30px;
  width: 100%;
  margin: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-18.71%, #000000), color-stop(-0.84%, #000000), color-stop(28.02%, #000000), color-stop(69.32%, rgba(0, 31, 61, 0.987368)), color-stop(106.24%, #002E59));
  background: linear-gradient(0deg, #000000 -18.71%, #000000 -0.84%, #000000 28.02%, rgba(0, 31, 61, 0.987368) 69.32%, #002E59 106.24%);
}

.project-section h2 {
  margin: 0;
}

.project-section img {
  width: 100%;
  margin-top: 10px;
}

.project-section .viewAll {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  right: 20%;
  position: absolute;
  margin: 20px auto;
}

.project-section .viewAll a i.fa-plus {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-section .viewAll a span {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
}

.project-section .viewAll a span.circle-btn {
  position: relative;
  margin-left: 5px;
  padding: 2px;
  z-index: 1;
}

.project-section .viewAll a span.circle-btn:before {
  content: "";
  margin: -5px;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: -1;
}

.project-section .viewAll a:hover i.fa-plus {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-section .viewAll a:hover span {
  color: #FEB404;
}

.project-section .viewAll a:hover span.circle-btn {
  color: #fff;
}

.project-section .viewAll a:hover span.circle-btn:before {
  content: "";
  position: absolute;
  background: #FEB404;
  border: 1px solid #FEB404;
  margin: -5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -1;
}

.project-section .slider .slides {
  background: none;
}

footer {
  margin-top: 150px;
  text-align: center;
  font-size: 12px;
  color: #727272;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer ul li {
  margin-right: 20px;
}

footer ul.footer-menu {
  margin-top: 0;
  margin-bottom: 0;
}

canvas#hero-lightpass {
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
  -webkit-transform: scale(-1.3, 1.3) translate3d(-9%, -10%, 0);
          transform: scale(-1.3, 1.3) translate3d(-9%, -10%, 0);
  z-index: 99999999999;
}

.scroll-icon {
  opacity: 0.4;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 70px;
  z-index: 5;
  text-align: center;
}

.scroll-icon .mouse {
  margin: auto;
  width: 20px;
  height: 50px;
  border: 1px solid white;
  border-radius: 60px;
}

.scroll-icon .mouse::before {
  content: '';
  width: 5px;
  height: 5px;
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

.scroll-icon span {
  font-size: 12px;
  letter-spacing: 5px;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 40px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

/* Styles from the GreenSock website */
.gs_reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
}

.transition-fade {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.mobile-hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mobile-hero video {
  width: 100vw;
  min-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
}

.mobile-hero .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.5) 50%);
  background-size: 3px 3px;
  z-index: 2;
}

.mobile-hero .main-wrapper img {
  position: absolute;
  text-align: center;
  z-index: 3;
  top: 250px;
  left: 0;
  right: 0;
  margin: auto;
  width: 60%;
  height: auto;
}

.mobile-hero .main-desc {
  margin: auto;
  bottom: 150px;
  left: 0;
  text-align: center;
  color: #fff;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.top-profile-mb {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("img/bg-profile.jpg") no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  padding: 50px 0;
  z-index: 1;
}

.top-profile-mb:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(0, 0, 0, 0.3)), to(black));
  background: linear-gradient(-180deg, rgba(0, 0, 0, 0.3) 10%, black 100%);
  z-index: -1;
}

.top-profile-mb h2 {
  margin: 0;
}

.mov-suit {
  padding-top: 150px;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0;
  background: url("img/hangersuit.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.mov-suit::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  background: linear-gradient(299deg, rgba(0, 31, 61, 0) 10%, rgba(0, 31, 61, 0) 30%, rgba(0, 31, 61, 0.9) 70%, #002E59 100%);
}

.mov-suit a {
  color: #fff;
}

.mov-suit .circle_bg {
  position: absolute;
  background: url("/img/mov-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -350px -150px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}

.mov-suit .suit-icon {
  width: 100px;
  height: 100px;
  border: 2px solid #FEB404;
  border-radius: 50%;
}

.mov-suit .suit-specs img.suit {
  width: 75px;
}

.mov-suit .suit-specs img.table-size {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
  height: auto;
}

.mov-suit .hero-wrapper {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
}

.mov-suit .hero-wrapper .img_right {
  background: url("img/Movsuit.png") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
}

.mov-suit .movsuitHero {
  position: relative;
  width: 100%;
  z-index: -1;
}

.mov-suit #suit_guide {
  margin-top: 50px;
}

.mov-suit #suit_guide img {
  width: 100%;
  height: 100%;
}

.mov-suit .modal-overlay {
  opacity: 0.7 !important;
}

@media (max-width: 420px) {
  .movsuitHero {
    margin-top: -130px;
    margin-bottom: -180px;
    width: 150% !important;
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
  .mov-suit .circle_bg {
    top: 50px !important;
    width: 100% !important;
    height: 40% !important;
    background-position: -90px !important;
  }
}

@media only screen and (min-width: 421px) and (max-width: 600px) {
  .movsuitHero {
    margin-top: -130px;
    margin-bottom: -180px;
    width: 120% !important;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  .mov-suit .circle_bg {
    top: 50px !important;
    width: 100% !important;
    height: 40% !important;
    background-position: -90px !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  .hero-wrapper .img_right {
    background-position-x: -100px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  img.suit {
    width: 55px !important;
  }
  .hero-wrapper .img_right {
    background-position-x: -100px !important;
  }
}

@media only screen and (max-width: 438px) {
  img.suit {
    width: 55px !important;
  }
}

.mov-g {
  padding-top: 150px;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0;
  background: url("img/gloves.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 400px;
}

.mov-g .backdrop_hero {
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-18.71%, #000000), color-stop(-0.84%, #000000), color-stop(28.02%, #000000), color-stop(69.32%, rgba(0, 31, 61, 0.987368)), color-stop(106.24%, #002E59));
  background: linear-gradient(0deg, #000000 -18.71%, #000000 -0.84%, #000000 28.02%, rgba(0, 31, 61, 0.987368) 69.32%, #002E59 106.24%);
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mov-g .backdrop_hero:before {
  content: "";
  position: absolute;
  background: url("img/mov-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -350px -120px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.mov-g .gloves-icon {
  width: 100px;
  height: 100px;
  border: 2px solid #FEB404;
  border-radius: 50%;
}

.mov-g .gloves-specs {
  margin-bottom: 50px;
}

.mov-g .gloves-specs img {
  width: 100px;
}

.mov-g a {
  color: #fff;
}

.mov-g a.modal-trigger {
  margin-top: 100px !important;
}

.mov-g img.img-blend {
  width: 15%;
  position: absolute;
  top: 220px;
  right: 220px;
}

.mov-g #gloves_guide {
  margin-top: 50px;
}

.mov-g #gloves_guide img {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  .gloves-wrapper {
    margin-bottom: 350px !important;
  }
  .img-blend {
    width: 30% !important;
    top: 130px !important;
    right: 30px !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  .img-blend {
    width: 25% !important;
    top: 150px !important;
    right: 60px !important;
  }
}

.facesense {
  padding-top: 150px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
}

.facesense .circle_bg {
  position: absolute;
  background: url("img/mov-icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -350px -150px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}

.facesense .main-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: url("img/faceCap.png");
  background-size: cover;
  background-position-x: 300px;
  background-repeat: no-repeat;
  z-index: -5;
}

.facesense .main-hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(271.62deg, rgba(1, 1, 1, 0.8) 30%, rgba(1, 1, 1, 0) 40%);
  background-position-x: 300px;
}

@media (max-width: 600px) {
  .facesense .main-hero::before {
    background: linear-gradient(271.62deg, rgba(1, 1, 1, 0.8) 30%, rgba(1, 1, 1, 0) 80%) !important;
  }
}

.facesense .main-hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5.74%, #010101), color-stop(58.03%, rgba(1, 1, 1, 0)), color-stop(100.28%, rgba(1, 1, 1, 0.64)));
  background: linear-gradient(0deg, #010101 5.74%, rgba(1, 1, 1, 0) 58.03%, rgba(1, 1, 1, 0.64) 100.28%);
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .facesense .main-hero {
    background-position-x: 50px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .facesense .main-hero {
    background-position-x: 0 !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  .facesense .main-hero {
    background-position-x: -250px !important;
  }
}

@media (max-width: 600px) {
  .facesense .main-hero {
    background-position-x: -500px !important;
  }
}

.facesense .backdrop_hero {
  position: absolute;
  background: linear-gradient(291.43deg, rgba(0, 0, 0, 0) -3.31%, rgba(0, 0, 0, 0) 10.7%, rgba(0, 0, 0, 0) 39.84%, rgba(0, 31, 61, 0.987368) 58.93%, #002E59 94.67%);
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.facesense a {
  color: #fff;
}

.facesense .suit-icon {
  width: 100px;
  height: 100px;
  border: 2px solid #FEB404;
  border-radius: 50%;
}

.facesense .suit-specs img.suit {
  width: 40%;
  mix-blend-mode: lighten;
}

.facesense .suit-specs img.table-size {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
  height: auto;
}

.facesense img.img_right {
  width: 35%;
  top: 50px;
  right: 100px;
  position: absolute;
}

.facesense #suit_guide {
  margin-top: 50px;
}

.facesense #suit_guide img {
  width: 100%;
  height: 100%;
}

.facesense .modal-overlay {
  opacity: 0.7 !important;
}

.contact {
  padding-top: 150px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
}

.contact .circle_bg img {
  width: 130%;
  height: auto;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

@media (max-width: 600px) {
  .contact .circle_bg img {
    width: 100%;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media (max-width: 600px) {
  .contact .circle_bg {
    position: absolute;
    width: 55%;
    left: 0;
    right: 0;
    margin: auto;
  }
}

@media (max-width: 420px) {
  .contact .circle_bg {
    width: 70%;
  }
}

@media (max-width: 320px) {
  .contact .circle_bg {
    width: 100%;
  }
}

.contact .step-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.contact .step-wrapper .icon-step {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 10px;
  background: #fff;
  margin-right: 10px;
  text-align: center;
  border-radius: 50%;
}

.contact .step-wrapper .icon-step img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact .order-btn {
  position: absolute;
  top: 55%;
  right: 24%;
  background: #FEB404;
  padding: 10px 20px;
  border-radius: 25px;
}

@media (max-width: 600px) {
  .contact .order-btn {
    top: 75%;
    right: 30%;
    left: 30%;
    margin: auto;
    text-align: center;
  }
}

.contact .main-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: url("img/wiresensor.jpg");
  background-size: cover;
  background-position-x: -400px;
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: -5;
}

.contact .main-hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(271.62deg, rgba(1, 1, 1, 0.8) 30%, rgba(1, 1, 1, 0) 40%);
}

.contact .main-hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5.74%, #010101), color-stop(58.03%, rgba(1, 1, 1, 0)), color-stop(100.28%, rgba(1, 1, 1, 0.64)));
  background: linear-gradient(0deg, #010101 5.74%, rgba(1, 1, 1, 0) 58.03%, rgba(1, 1, 1, 0.64) 100.28%);
}

.contact .backdrop_hero {
  position: absolute;
  background: linear-gradient(291.43deg, rgba(0, 0, 0, 0) -3.31%, rgba(0, 0, 0, 0) 10.7%, rgba(0, 0, 0, 0) 39.84%, rgba(0, 31, 61, 0.987368) 58.93%, #002E59 94.67%);
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.contact a {
  color: #fff;
}

.contact .suit-icon {
  width: 100px;
  height: 100px;
  border: 2px solid #FEB404;
  border-radius: 50%;
}

.contact .suit-specs img.suit {
  width: 40%;
  mix-blend-mode: lighten;
}

.contact .suit-specs img.table-size {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
  height: auto;
}

.contact img.img_right {
  width: 35%;
  top: 50px;
  right: 100px;
  position: absolute;
}

.contact .quote-btn {
  position: absolute;
  text-align: center;
  bottom: 170px;
  width: 150px;
  height: auto;
  cursor: pointer;
}

.contact .quote-btn span {
  position: absolute;
  -webkit-transform: translate(75px, 100px);
          transform: translate(75px, 100px);
}

.contact .quote-btn svg {
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact .quote-btn svg defs filter feFlood {
  flood-color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.contact .quote-btn svg:hover {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact .quote-btn svg:hover defs filter feFlood {
  flood-color: #FEB404;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact .quote-btn img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact .quote-btn:hover img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact #suit_guide {
  margin-top: 50px;
}

.contact #suit_guide img {
  width: 100%;
  height: 100%;
}

.contact .modal-overlay {
  opacity: 0.7 !important;
}

.our-project {
  padding-top: 150px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  /* fluid 5 columns */
  /* 2 columns wide */
}

.our-project .circle_bg img {
  width: 130%;
  height: auto;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.our-project .step-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.our-project .step-wrapper .icon-step {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 10px;
  background: #fff;
  margin-right: 10px;
  text-align: center;
  border-radius: 50%;
}

.our-project .step-wrapper .icon-step img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-project .order-btn {
  position: absolute;
  top: 55%;
  right: 24%;
  background: #FEB404;
  padding: 10px 20px;
  border-radius: 25px;
}

.our-project .main-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: url("img/wiresensor.jpg");
  background-size: cover;
  background-position-x: -400px;
  background-repeat: no-repeat;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  z-index: -5;
}

.our-project .main-hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(271.62deg, rgba(1, 1, 1, 0.8) 30%, rgba(1, 1, 1, 0) 40%);
  background-position-x: -400px;
}

.our-project .main-hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5.74%, #010101), color-stop(58.03%, rgba(1, 1, 1, 0)), color-stop(100.28%, rgba(1, 1, 1, 0.64)));
  background: linear-gradient(0deg, #010101 5.74%, rgba(1, 1, 1, 0) 58.03%, rgba(1, 1, 1, 0.64) 100.28%);
}

.our-project .backdrop_hero {
  position: absolute;
  background: linear-gradient(291.43deg, rgba(0, 0, 0, 0) -3.31%, rgba(0, 0, 0, 0) 10.7%, rgba(0, 0, 0, 0) 39.84%, rgba(0, 31, 61, 0.987368) 58.93%, #002E59 94.67%);
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.our-project a {
  color: #fff;
}

.our-project .suit-icon {
  width: 100px;
  height: 100px;
  border: 2px solid #FEB404;
  border-radius: 50%;
}

.our-project .suit-specs img.suit {
  width: 40%;
  mix-blend-mode: lighten;
}

.our-project .suit-specs img.table-size {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
  height: auto;
}

.our-project img.img_right {
  width: 35%;
  top: 50px;
  right: 100px;
  position: absolute;
}

.our-project #suit_guide {
  margin-top: 50px;
}

.our-project #suit_guide img {
  width: 100%;
  height: 100%;
}

.our-project .modal-overlay {
  opacity: 0.7 !important;
}

.our-project .grid-sizer img,
.our-project .grid-item img {
  width: 20%;
}

.our-project .grid-item--width2 img {
  width: 40%;
}

.our-project .projects-list {
  margin: auto;
  left: 7px;
}

.our-project .project-item {
  width: 20%;
  margin-bottom: 15px;
  position: relative;
}

.our-project .project-item img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.our-project .project-item.width80 img {
  width: 20%;
}

.form-container {
  padding: 10px 20px 50px 10px;
  background: #021425;
  width: 600px;
  height: 80%;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #C4C4C4;
  border: 1px solid #00739F;
  border-radius: 15px;
}

.link-to a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  position: absolute;
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.link-to a:hover {
  color: #F7941C;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link-to a i {
  font-size: 20px;
  margin-left: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.link-to a:hover i {
  -webkit-transform: scale(1.5) translateX(10px);
          transform: scale(1.5) translateX(10px);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form-container::-webkit-scrollbar {
  width: 1em;
}

.form-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}

.form-container::-webkit-scrollbar-thumb {
  background-color: #00739F;
  outline: 1px solid #00739F;
}

.form-header {
  padding: 10px;
  margin: -10px -25px 10px -10px;
  height: 70px;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-24.94%, rgba(254, 180, 4, 0.94243)), color-stop(-24.94%, #00739F), color-stop(82.43%, rgba(0, 46, 89, 0)));
  background: linear-gradient(180deg, rgba(254, 180, 4, 0.94243) -24.94%, #00739F -24.94%, rgba(0, 46, 89, 0) 82.43%);
}

/* label color */
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #F7941C !important;
}

.input-field input[type=email]:focus + label {
  color: #F7941C !important;
}

.input-field input[type=tel]:focus + label {
  color: #F7941C !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #F7941C !important;
  -webkit-box-shadow: 0 1px 0 0 #F7941C !important;
          box-shadow: 0 1px 0 0 #F7941C !important;
}

.input-field input[type=email]:focus {
  border-bottom: 1px solid #F7941C !important;
  -webkit-box-shadow: 0 1px 0 0 #F7941C !important;
          box-shadow: 0 1px 0 0 #F7941C !important;
}

.input-field input[type=tel]:focus {
  border-bottom: 1px solid #F7941C !important;
  -webkit-box-shadow: 0 1px 0 0 #F7941C !important;
          box-shadow: 0 1px 0 0 #F7941C !important;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  -webkit-box-shadow: 0 1px 0 0 #000;
          box-shadow: 0 1px 0 0 #000;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  -webkit-box-shadow: 0 1px 0 0 #000;
          box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #F7941C !important;
}

[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 2px solid #ff9800 !important;
  border-bottom: 2px solid #ff9800 !important;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
  background-color: #F7941C !important;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
  border: 2px solid #F7941C !important;
}

.date-input label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.date-input i {
  top: 50px;
  margin: 15px 20px auto 2px;
}

.date-input label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.datepicker-date-display {
  background-color: #F7941C !important;
}

.datepicker-table td.is-today {
  color: #F7941C !important;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: #F7941C !important;
}

.datepicker-table td.is-selected {
  background-color: #F7941C !important;
}

.datetime {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.datetime i {
  -webkit-transform: translate(-20px, 10px);
          transform: translate(-20px, 10px);
}

.datetime input {
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
}

.footer {
  width: 100%;
  height: 10vh;
  padding: 70px 150px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}

header {
  position: fixed;
  width: 100%;
  z-index: 99999;
  padding: 50px 75px;
}

header .backDrop {
  position: fixed;
  width: 100%;
  height: 120px;
  margin: auto;
  top: 0;
  left: 0;
}

header .backDrop:before {
  content: "";
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
}

header #logo-header img {
  position: fixed;
  width: 15%;
  height: auto;
  margin: auto;
  left: 0;
  right: 0;
  cursor: pointer;
}

header #innerLogo img {
  position: fixed;
  width: 15%;
  height: auto;
  margin: auto;
  left: 0;
  right: 0;
  cursor: pointer;
}

header .socmed {
  position: fixed;
  right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .socmed a {
  font-size: 25px;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
}

header .socmed .socmed-link i {
  position: relative;
  top: 2px;
}

header .socmed-home {
  position: fixed;
  right: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .socmed-home a {
  font-size: 25px;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
}

header .socmed-home .socmed-link i {
  position: relative;
  top: 2px;
}

.nav-circle-body {
  position: fixed;
  width: 15px;
  height: 15px;
  left: 130px;
  top: 50px;
  border-radius: 50%;
  background: #F7941C;
  z-index: 50;
  opacity: 0;
}

.product-active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.nav-body {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 150px 200px;
  z-index: 50;
  display: none;
}

.nav-body .nav-body__item {
  font-family: 'font-bold';
  font-size: 55px;
  overflow: hidden;
}

.nav-body .nav-body__item .product-list {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  cursor: pointer;
}

.nav-body .nav-body__item .product-list .fa-caret-down {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.nav-body .nav-body__item .nav-item-down {
  font-size: 35px;
  display: none;
  margin-left: 30px;
}

.nav-body .nav-body__item a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  text-decoration: none;
}

.nav-body .socmed-navbody {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 100px;
}

.nav-body .socmed-navbody a {
  font-size: 25px;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
}

.nav-body .socmed-navbody .socmed-link i {
  position: relative;
}

.More {
  cursor: pointer;
  position: fixed;
}

.menu-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.More-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.menu-title {
  font-size: 13px;
  margin-left: 5px;
  font-family: 'font-bold';
  letter-spacing: 1.7px;
  color: #F7941C;
}

.More-checkbox {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.More-checkbox:checked ~ .More-dot--left::before {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.More-checkbox:checked ~ .More-dot--right::before {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.More-checkbox:checked ~ .More-dot--center::before {
  -webkit-transform: scale(4);
          transform: scale(4);
  background-color: #fff;
}

.More-checkbox:checked ~ .More-dot--center::after {
  opacity: 0;
  -webkit-transform: scale(8);
          transform: scale(8);
}

.More-checkbox:checked ~ .More-dot .More-icon {
  opacity: 1;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.More-dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 15px;
  height: 15px;
  margin: 0 5px;
}

.More-dot::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: #FEB404;
  -webkit-transition: 0.4s -webkit-transform ease;
  transition: 0.4s -webkit-transform ease;
  transition: 0.4s transform ease;
  transition: 0.4s transform ease, 0.4s -webkit-transform ease;
  content: "";
}

.More-dot.More-dot--right::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: #BB5D05;
  -webkit-transition: 0.4s -webkit-transform ease;
  transition: 0.4s -webkit-transform ease;
  transition: 0.4s transform ease;
  transition: 0.4s transform ease, 0.4s -webkit-transform ease;
  content: "";
}

.More-dot--center::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #F7941C;
  opacity: 1;
  -webkit-transition: 0.4s opacity ease, 0.4s -webkit-transform ease;
  transition: 0.4s opacity ease, 0.4s -webkit-transform ease;
  transition: 0.4s opacity ease, 0.4s transform ease;
  transition: 0.4s opacity ease, 0.4s transform ease, 0.4s -webkit-transform ease;
  content: "";
}

.More-icon {
  position: relative;
  z-index: 1;
  width: 44px;
  height: 44px;
  opacity: 0;
  -webkit-transition: 0.4s opacity ease, 0.4s -webkit-transform ease;
  transition: 0.4s opacity ease, 0.4s -webkit-transform ease;
  transition: 0.4s opacity ease, 0.4s transform ease;
  transition: 0.4s opacity ease, 0.4s transform ease, 0.4s -webkit-transform ease;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  fill: #3e57ba;
}

@media (max-width: 600px) {
  .More {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .nav-body {
    padding: 150px 35px 35px;
  }
  .nav-body__item a, .nav-body__item .product-list {
    font-size: 40px;
  }
  .nav-item-down a {
    font-size: 30px;
  }
  .footer_mobile {
    font-size: 11px;
  }
  :checked ~ .More-dot--center::before {
    -webkit-transform: scale(3) !important;
            transform: scale(3) !important;
    background-color: #fff;
  }
  :checked ~ .More-dot--center::after {
    opacity: 0;
    -webkit-transform: scale(5) !important;
            transform: scale(5) !important;
  }
  .nav-circle-body {
    top: 25px;
    left: 50px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  header {
    padding: 50px 50px;
  }
  .nav-body {
    padding: 130px 50px 20px;
  }
  .socmed {
    right: 40px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .nav-body {
    padding: 120px 80px;
  }
}

@media screen and (max-width: 600px) {
  .profile-page {
    width: 100vw;
    height: 100vh;
  }
  #logo-header img {
    margin-right: 25px !important;
    left: auto !important;
    width: 35% !important;
  }
  #innerLogo img {
    margin-right: 25px !important;
    left: auto !important;
    width: 35% !important;
  }
  header {
    padding: 25px 20px;
  }
  footer .footer-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px !important;
  }
  footer .footer-menu li {
    margin-right: 10px;
  }
}

@font-face {
  font-family: 'font-bold';
  src: url("src/webfonts/PlusJakartaSans-Bold.woff2") format("woff2"), url("src/webfonts/PlusJakartaSans-Bold.woff") format("woff");
}

@font-face {
  font-family: 'font-regular';
  src: url("src/webfonts/PlusJakartaSans-Regular.woff2") format("woff2"), url("src/webfonts/PlusJakartaSans-Regular.woff") format("woff");
}

@font-face {
  font-family: 'font-light';
  src: url("src/webfonts/PlusJakartaSans-Light.woff2") format("woff2"), url("src/webfonts/PlusJakartaSans-Light.woff") format("woff");
}

@font-face {
  font-family: 'Hellix-regular';
  src: local("Hellix Regular"), local("Hellix-Regular"), url("src/webfonts/Hellix-Regular.woff2") format("woff2"), url("src/webfonts/Hellix-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hellix-bold';
  src: local("Hellix Bold"), local("Hellix-Bold"), url("src/webfonts/Hellix-Bold.woff2") format("woff2"), url("src/webfonts/Hellix-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Inter', 'sans-serif';
  color: #fff;
  background: #000000;
}

h2 {
  font-family: Hellix-regular;
}

h5 {
  font-family: Hellix-bold;
}

.heading-bold {
  font-family: Hellix-bold;
  color: #FEB404;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #070434;
  z-index: 9999999999;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.spinner__circle {
  position: relative;
  width: 54px;
  height: 54px;
  overflow: hidden;
  background-color: #FEB404;
  border-radius: 100%;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

.spinner__circle-inner, .spinner__circle-gradient {
  position: absolute;
  width: 44px;
  height: 44px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.spinner__circle-inner {
  top: 50%;
  left: 50%;
  background-color: #070434;
  border-radius: 100%;
}

.spinner__circle-gradient {
  top: -24px;
  left: 6px;
  background-color: #FEB404;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#FEB404), color-stop(50%, #070434));
  background-image: linear-gradient(0deg, #FEB404 0%, #070434 50%);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

input.valid {
  color: #ffff;
}

input:focus {
  background-color: #da0000;
}

input#date {
  color: #9e9e9e;
  font-size: 1rem;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  color: #9E9E9E;
}

::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
}

span {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.modal {
  max-height: 90%;
  background-color: #021425 !important;
  color: #fff;
  position: fixed;
}

.modal .btn-submit {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 10px 40px;
  border: 1px solid rgba(144, 202, 249, 0.5);
  border-radius: 5px;
  background-color: transparent;
  color: #90caf9;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.modal .btn-submit:hover {
  background: #F7941C;
  border: 1px solid #90caf9;
}

.modal .btn-submit span {
  text-transform: uppercase;
}

.modal .suite-option {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  padding: 10px;
}

.modal .suite-option p {
  margin-right: 50px;
}

.modal .form-title {
  color: orangered;
  font-weight: bolder;
  font-size: 16px;
  margin: 0 auto;
}

.modal div.other.col.s10 input {
  height: 25px;
  border-bottom: 1px solid #26a69a;
  display: none;
}

.modal .agreement-desc {
  font-size: 12px;
  color: #fff;
}

button.btn.modal-trigger:hover {
  background: orangered;
}

.comparisonSection {
  position: relative;
  padding-bottom: 56.25%;
  /* to maintain aspect ratio (responsive!) */
}

.comparisonSection .comparisonImage {
  width: 100%;
  height: 100%;
}

.comparisonSection .comparisonImage img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.comparisonSection .comparisonImage.afterImage {
  position: absolute;
  overflow: hidden;
  top: 0;
  -webkit-transform: translate(100%, 0px);
          transform: translate(100%, 0px);
}

.comparisonSection .comparisonImage.afterImage img {
  -webkit-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

#set-height {
  display: block;
}

#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.btn-loading {
  display: none;
}

.d-none {
  display: block;
}

.btn-onload {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.address {
  font-size: 13px;
  margin-top: 100px;
  font-family: 'Inter', 'sans-serif';
  font-weight: 300;
  color: #c3c3c3;
}

.address .collaborate {
  margin-bottom: 100px;
}

.quote-btn {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  cursor: pointer;
}

.quote-btn.product-page {
  -webkit-transform: translate(0, -20%);
          transform: translate(0, -20%);
}

.quote-btn.product-page.btn-project {
  bottom: 350px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .quote-btn.product-page.btn-project {
    bottom: -150px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
  .quote-btn.product-page.btn-project {
    bottom: -150px;
  }
}

@media (max-width: 600px) {
  .quote-btn.mainpage {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    -webkit-transform: translateY(150px) !important;
            transform: translateY(150px) !important;
    bottom: auto;
  }
}

.quote-btn .btn-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quote-btn .btn-order span {
  position: absolute;
  -webkit-transform: translate(75px, 105px);
          transform: translate(75px, 105px);
  font-size: 18px;
  font-family: "Hellix-bold";
  z-index: 1;
}

.quote-btn .btn-order img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.quote-btn .btn-order .btn-bg {
  background: linear-gradient(136.42deg, #FEB404 2.52%, #F7941C 45.39%, #BB5D05 80.94%);
  width: 220px;
  height: 220px;
  position: absolute;
  left: 10px;
  top: 10px;
  opacity: 0;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media screen and (max-width: 600px) {
  .profile-page {
    width: 100vw;
    height: 100vh;
  }
  .footer_desktop {
    display: none;
  }
  .footer_mobile {
    display: block;
    margin-top: 350px;
  }
  .footer_mobile .footer-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .address {
    margin-top: 50px;
  }
  .address ul {
    -webkit-transform: translateY(250px);
            transform: translateY(250px);
  }
  .quote-btn {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 100px;
  }
}

@media screen and (min-width: 601px) and (max-width: 991px) {
  .footer_desktop {
    display: none;
  }
  .footer_mobile {
    display: block;
  }
  .footer_mobile .footer-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .quote-btn {
    -webkit-transform: translate(0, 70%);
            transform: translate(0, 70%);
    position: relative;
    margin: auto;
    left: 0;
    right: 50px;
  }
}

@media screen and (min-width: 992px) {
  .footer_desktop {
    display: block;
  }
  .footer_mobile {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .show-on-desktop {
    display: none !important;
  }
}

@media only screen and (max-width: 600px), (min-width: 1200px) {
  .show-on-mobile-and-tab {
    display: none !important;
  }
}

@media only screen and (max-width: 600px) {
  .show-on-mobile-and-tab {
    display: -webkit-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */