.contact {
  padding-top: 150px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;

  .circle_bg {
    img {
      width: 130%;
      height: auto;
      transform: translateY(-50px);

      @media #{$small_mobile} {
        width: 100%;
        transform: translateY(0px);
      }
    }

    @media #{$small_mobile} {
      position: absolute;
      width: 55%;
      left: 0;
      right: 0;
      margin: auto;
    }

    @media #{$xs_mobile} {
      width: 70%;
    }

    @media #{$xxs_mobile} {
      width: 100%;
    }
  }

  .step-wrapper {
    display: flex;
    margin-top: 20px;
    .icon-step {
      position: relative;
      width: 60px;
      height: 60px;
      padding: 10px;
      background: #fff;
      margin-right: 10px;
      text-align: center;
      border-radius: 50%;
  
      img {
        // width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .order-btn {
    // position: absolute;
    // top: 55%;
    // right: 24%;
    display: inline-block;
    margin-top: 50px;
    // background: $moverse;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;

    &:hover {
      background: $moverse;
      transition: all 0.3s ease;
      border-color: $moverse;
    }

    @media #{$small_mobile} {
      top: 75%;
      right: 30%;
      left: 30%;
      margin: auto;
      text-align: center;
    }
  }

  .main-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background: url(img/wiresensor.jpg);
    background-size: 60%;
    background-position: left top;
    background-repeat: no-repeat;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    z-index: -5;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(271.62deg, rgba(1, 1, 1, 0.8) 30%, rgba(1, 1, 1, 0) 40%);
      // background-position-x: -400px;

      // @media #{$tab_device}, #{$large_mobile} {
      //   background-position-x: 0;
      // }
    }
  
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, #010101 40%, rgba(1, 1, 1, 0) 58.03%, rgba(1, 1, 1, 0.8) 100.28%);
    }    
  }

  .backdrop_hero {
    position: absolute;
    background: linear-gradient(291.43deg, rgba(0, 0, 0, 0) -3.31%, rgba(0, 0, 0, 0) 10.7%, rgba(0, 0, 0, 0) 39.84%, rgba(0, 31, 61, 0.987368) 58.93%, #002E59 94.67%);
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  
  a {
    color: #fff;
  }

  .suit-icon {
    width: 100px;
    height: 100px;
    border: 2px solid $moverse;
    border-radius: 50%;
  }

  .suit-specs {
    img {
      &.suit {
        width: 40%;
        mix-blend-mode: lighten;
      }
      &.table-size {
        object-fit: cover;
        width: 80%;
        height: auto;
      }
    }
  }
  img {
    &.img_right {
      width: 35%;
      top: 50px;
      right: 100px;
      position: absolute;
    }
  }
  .quote-btn {
    position: absolute;
    text-align: center;
    bottom: 170px;
    width: 150px;
    height: auto;
    cursor: pointer;
    
    span {
      position: absolute;
      transform: translate(75px, 100px);
    }

    svg {
      position: relative; 
      transform: rotate(0deg);
      transition: all 0.3s ease;
      defs {
        filter {
          feFlood {
            flood-color: transparent;
            transition: all 0.5s ease;
          }
        }
      }
      &:hover {
        transform: rotate(20deg);
        transition: all 0.3s ease;
        defs {
          filter {
            feFlood {
              flood-color: #FEB404;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }

    img {
      transition: all 0.3s ease;
    }

    &:hover {
      img {
        transform: rotate(45deg);
        transition: all 0.3s ease;
      }
    }
  }    
  #suit_guide {
    margin-top: 50px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .modal-overlay {
    opacity: 0.7 !important;
  }
}
