.facesense {
  padding-top: 150px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;

  .circle_bg {
    position: absolute;
    background: url('img/mov-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -350px -150px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;    
  }

  .main-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background: url('img/dika_hero.png');
    background-size: 40%;
    background-position: right 100px;
    background-repeat: no-repeat;
    z-index: -5;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, #010101 30%, rgba(1, 1, 1, 0) 45%, rgba(1, 1, 1, 0) 100%);
      // background-position-x: 300px;

      @media #{$small_mobile} {
        background: linear-gradient(0deg, #010101 65%, rgba(1, 1, 1, 0) 80%, rgba(1, 1, 1, 0) 100%);
      }
    }
  
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(0deg, #010101 5.74%, rgba(1, 1, 1, 0) 58.03%, rgba(1, 1, 1, 0.64) 100.28%);

      @media #{$small_mobile} {
        background: none;
      }              
    }   
    
    @media #{$medium_device} {
      background-position-x: 50px !important;
    }
    
    @media #{$tab_device} {
      background-position-x: 0 !important;
    }
    
    @media #{$large_mobile} {
      background-position-x: -250px !important;
    }
    
    @media #{$small_mobile} {
      background-size: 80%;
      background-position: right 50px;
    }        
  }

  .backdrop_hero {
    position: absolute;
    // background: linear-gradient(291.43deg, rgba(0, 0, 0, 0) -3.31%, rgba(0, 0, 0, 0) 10.7%, rgba(0, 0, 0, 0) 39.84%, rgba(0, 31, 61, 0.987368) 58.93%, #002E59 94.67%);
    background: linear-gradient(291.04deg, rgba(0, 0, 0, 0) -3.7%, rgba(0, 0, 0, 0.0161908) 20.7%, rgba(19, 19, 23, 0.987368) 55.83%, rgba(0, 31, 61, 0.987368) 90.01%);
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: -2;

    @media #{$small_mobile} {
      background: linear-gradient(291.04deg, rgba(0, 0, 0, 0) -3.7%, rgba(0, 0, 0, 0.0161908) 50%, rgba(19, 19, 23, 0.5) 60%, rgba(0, 31, 61, 1) 90.01%);
    }
  }
  
  a {
    color: #fff;
  }

  .suit-icon {
    width: 100px;
    height: 100px;
    border: 2px solid $moverse;
    border-radius: 50%;
  }

  .suit-specs {
    img {
      &.suit {
        width: 40%;
        mix-blend-mode: lighten;
      }
      &.table-size {
        object-fit: cover;
        width: 80%;
        height: auto;
      }
      @media #{$small_mobile} {
        width: 55% !important;
        object-fit: cover;
        left: 20%;
        position: relative;  
      }
    }
  }
  img {
    &.img_right {
      width: 35%;
      top: 50px;
      right: 100px;
      position: absolute;
    }
  }

  #suit_guide {
    margin-top: 50px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .modal-overlay {
    opacity: 0.7 !important;
  }
}
