.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  // background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png) no-repeat center center/cover;

  .ring-wrapper {
    position: absolute;
    margin: 0;
    transform: translate(55%, -10%);
    width: 90%;
    z-index: 3;
    opacity: 0.8;
  }
    
  video {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.5) 50%);
    background-size: 3px 3px;
    z-index: 2;
  }

  .overlay2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 1) 100%);
    // background-size: 3px 3px;
    z-index: 2;
  }
  .main-wrapper {
    img {
      position: absolute;
      text-align: center;
      z-index: 3;
      top: 250px;
      left: 0;
      right: 0;
      // bottom: 0;
      margin: auto;
      width: 40%;
      height: auto;
    }
  }
  .main-desc {
    margin: auto;
    top: 450px;
    left: 0;
    text-align: center;
    color: #fff;
    position: absolute;
    z-index: 2;
    width: 100%;
  }
  .btn-slide {
    position: absolute;
    text-align: center;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #FEB404 0%, #BB5D05 100%);
    width: 100px;
    height: 100px;
    left: 0;
    right: 0;
    bottom: 100px;
    z-index: 3;
    margin: auto;
    padding: 28px;
    letter-spacing: 1.5px;
    line-height: 1.3;
  }

  h3 {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 250px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    max-width: 400px;
    width: 100%;
    height: 50px;
  }  
  .afterImage {
    position: absolute;
    overflow: hidden;
    top: 0;
    transform: translate(100%, 0px);
    z-index: 5;

    .profile {
      overflow: hidden;
      top: 10%;
      width: 100%;
      z-index: 100;
      position: absolute;  
      padding: 100px 150px;
      color: #fff;
      // transform: translate(-100%, 100px);
      h2 {
        line-height: 60px;
        color: #fff;

        @media #{$big_screen} {
          width: 450px;
        }
      }
      img {
        transform: translate(-100%, 0px);
      }

      @media #{$large_mobile}, #{$tab_device} {
        padding: 100px 50px 50px;
        top: 0;
      }

      @media #{$small_mobile} {
        padding: 20px;
        p {
          font-size: 15px;
        }
      }
      
    }
  }

  // .afterImage img {
  //   transform: translate(-100%, 0px);
  // }

  .profile-wrapper {
    position: absolute;
    top: 20%;
    right: 20%;
    z-index: 10;
    color: #fff;
    // font-family: 'font-bold';
    h2 {
      line-height: 1px;
    }
  }
  .intro-desc {
    top: 40%;
    right: 20%;
    color: #fff;
    position: absolute;
    z-index: 10;
  }
  .comparisonImage {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      @media #{$small_mobile} {
        object-position: 60% 0%;
      }
    }

  }
}

.product-section {
  width: 100%;
  left: 0;
  height: auto;
  z-index: 100;
  background: linear-gradient(180deg, #000000 -18.71%, #000000 -0.84%, #000000 28.02%, rgba(0, 31, 61, 0.987368) 69.32%, #002E59 106.24%);
  padding: 100px 150px;
  color: #fff;

  @media #{$small_mobile} {
    padding: 20px;
    background: linear-gradient(180deg, #000000 -18.71%, #000000 -0.84%, #000000 0%, rgba(0, 31, 61, 0.987368) 30%, #002E59 106%);

    .service-content {
      padding: initial !important;
      transform: translateY(250px);
      margin-bottom: 250px;
    }
  }

  @media #{$large_mobile}, #{$tab_device} {
    padding: 150px 50px;
  }

  &.row {
    margin-bottom: 0;
  }
  
  h2 {
    line-height: 60px;
    // color: $moverse;
  }

  .image-left {
    position: relative;
    width: 100%;
    img {
      width: 80%;

      @media #{$small_mobile} {
        position: absolute;
        left: 10%;    
        right: 10%;
        -webkit-mask-image: -webkit-gradient(linear, left 10%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      }
    }
  }
  
  .product-option {
    display: flex;
    text-align: center;
    margin-top: 3em;
    position: relative;

    h5 {
      color: $moverse;
    }

    a {
      &.product-lists {
        vertical-align: top;
        color: #fff;
        width: 100%;
        border-radius: 1em;
        align-items: center;
        // margin: auto;
        padding: 10px 10px 20px;
        margin-right: 10px;
        background: linear-gradient(180deg, rgba(254, 180, 4, 0.94243) -24.94%, #00739F -24.94%, rgba(0, 46, 89, 0) 90%);
        z-index: 1;

        @media #{$small_mobile} {
          margin-bottom: 50px;
        }
  
        &::before {
          content: "";
          position: absolute;
          inset: 0;
          border-radius: 1em; 
          padding: 5px; 
          background: linear-gradient(180deg,rgb(0, 179, 255)0%, rgba(0, 179, 255, 0.3)20%, rgba(0, 0, 0, 0)50%); 
          mask: linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
          -webkit-mask: 
              linear-gradient(#fff 0 0) content-box, 
              linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;
                  mask-composite: exclude; 
        }
  
        &:hover {
          .image-option {
            background-size: 110%;
            transition: all 0.5s ease;
          }
          .image-option:before {
            transform: rotate(45deg) scale(1.1);
            opacity: 0.3;
            transition: all 0.3s ease;
          }
          .image-option:after {
            opacity: 1;
            transition: all 0.3s ease;
            transform: rotate(45deg) scale(1.1);
          }
          .logo-anim {
            transform: rotate(45deg);
            transition: all 0.5s ease;
          }
          .image-option img {
            transform: scale(1.1);
            transition: all 0.5s ease;
          }
        }
      
        span {
          font-size: 16px;
        }
        .logo-anim {
          width: 105px;
          height: 105px;
          background: url('img/btn-circle.svg') no-repeat;
          background-size: cover;
          left: 50px;
          bottom: 9px;
          position: absolute;
          transition: all 0.5s ease;
          z-index: 10;
        }
        .image-option {
          overflow: hidden;
          margin: auto;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          // background: url('img/suitman.png') no-repeat center;
          // background-size: cover;
          transition: all 0.5s ease;

          .img-wrapper {
            position: absolute;
            width: 100px;
            height: 100px;  
            border-radius: 50%;
            overflow: hidden;       

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              position: absolute;
              border-radius: 50%;
              display: block;
              transition: all 0.5s ease;        
            }               
          }

          &:before {
            content: "";
            position: absolute;
            display: block;
            width: 100px;
            height: 100px;
            transform: scale(1.1);
            transition: all 0.3s ease;
            // left: 0;
            background: url('img/btn-circle.svg') no-repeat;
            background-size: cover;
          }

          &:after {
            content: "";
            position: absolute;
            display: block;
            width: 100px;
            height: 100px;
            background: linear-gradient(136.42deg, #FEB404 2.52%, #F7941C 45.39%, #BB5D05 80.94%);
            z-index: -1;
            opacity: 0;
            border-radius: 50%; 
            transition: all 0.3s ease;       
          }
        }
      }
    }
  }
}

.project-section {
  padding: 100px 0 30px;
  width: 100%;
  margin: 0;
  background: linear-gradient(0deg, #000000 -18.71%, #000000 -0.84%, #000000 28.02%, rgba(0, 31, 61, 0.987368) 69.32%, #002E59 106.24%);

  h2 {
    margin: 0;
  }

  img {
    width: 100%;
    margin-top: 10px;
  }

  .viewAll {
    display: inline-flex;
    right: 20%;
    position: absolute;
    margin: 20px auto;

    a {
      i.fa-plus {
        transition: all 0.3s ease;
      }      
      span {
        transition: all 0.3s ease;
        color: #fff;
        &.circle-btn {
          position: relative;
          margin-left: 5px;
          padding: 2px;
          z-index: 1;
          &:before {
            content: "";
            margin: -5px;
            position: absolute;
            width: 30px;
            height: 30px;
            border: 1px solid #fff;
            border-radius: 50%;
            z-index: -1;
          }
        }
      }
      &:hover {
        i.fa-plus {
          transform: rotate(45deg);
          transition: all 0.3s ease;
        }
        span {
          color: #FEB404;
        }
        span.circle-btn {
          color: #fff;
          &:before {
            content: "";
            position: absolute;
            background: #FEB404;
            border: 1px solid #FEB404;
            margin: -5px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            transition: all 0.3s ease;
            z-index: -1;            
          }
        }
      }
    }
  }

  .slider {
    &:hover {
      .slides {
        img {
          transform: scale(1.1);
          transition: all 0.5s ease;
          opacity: 0.6;
        }
        // li {
        //   opacity: 0.5;
        //   transition: all 0.5s ease;
        // }
      } 
    }
    .slides {
      background: none;

      li {
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;
          // opacity: 0;
          background: #000000;
          transition: all 0.5s ease;
        }
      }

      img {
        transition: all 0.5s ease;
        margin: 0;
      }
    }
  }
}

footer {
  margin-top: 150px;
  text-align: center;
  font-size: 12px;
  color: rgb(114, 114, 114);
  ul {
    display: flex;
    li {
      margin-right: 20px;
    }
    &.footer-menu {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

canvas {
  &#hero-lightpass {
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
    transform: scale(-1.3, 1.3) translate3d(-9%, -10%, 0);
    z-index: 99999999999;  
  }
}

.scroll-icon {
  opacity: 0.4;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 70px;
  z-index: 5;
  text-align: center;
  
  .mouse {
    margin: auto;
    width: 20px;
    height: 50px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 60px;
    &::before {
      content: '';
      width: 5px;
      height: 5px;
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgb(255, 255, 255);
      border-radius: 50%;
      opacity: 1;
      animation: wheel 2s infinite;
      -webkit-animation: wheel 2s infinite;
    }
  }
  span {
    font-size: 12px;
    letter-spacing: 5px;
  }
}


@keyframes wheel {
	to {
		opacity: 0;
		top: 40px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

/* Styles from the GreenSock website */

.gs_reveal {
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
}
.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}


// Mobile Wrapper
.mobile-hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  video {
    width: 100vw;
    min-height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.5) 50%);
    background-size: 3px 3px;
    z-index: 2;
  }

  .main-wrapper {
    img {
      position: absolute;
      text-align: center;
      z-index: 3;
      top: 250px;
      left: 0;
      right: 0;
      // bottom: 0;
      margin: auto;
      width: 60%;
      height: auto;
    }
  }
  .main-desc {
    margin: auto;
    bottom: 150px;
    left: 0;
    text-align: center;
    color: #fff;
    position: absolute;
    z-index: 2;
    width: 100%;
  }  

}
.top-profile-mb {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('img/bg-profile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  padding: 50px 0;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 1) 100%);
    z-index: -1;
  }

  h2 {
    margin: 0;
  }
}
