header {
  position: fixed;
  width: 100%;
  z-index: 99999;
  padding: 50px 75px;

  .backDrop {
    position: fixed;
    width: 100%;
    height: 120px;
    margin: auto;
    top: 0;
    left: 0;

    &:before {
      content: "";
      margin: 0;
      width: 100%;
      height: 100%;
      top: 0;
      backdrop-filter: blur(5px);
      position: absolute;  
    }
  }

  #logo-header {
    img {
      position: fixed;
      width: 15%;
      height: auto;
      margin: auto;
      left: 0;
      right: 0;
      cursor: pointer;
    }
  }
  #innerLogo {
    img {
      position: fixed;
      width: 15%;
      height: auto;
      margin: auto;
      left: 0;
      right: 0;
      cursor: pointer;
    }
  } 

  .socmed {
    position: fixed;
    right: 70px;
    display: flex;

    a {
      font-size: 25px;
      // background: #000;
      margin: 0;
      padding: 0;
      text-align: center;
      margin-left: 10px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: #fff;
    }

    .socmed-link {
      i {
        position: relative;
        top: 2px;
      }
    }
  }

  .socmed-home {
    position: fixed;
    right: 70px;
    display: flex;
    a {
      font-size: 25px;
      // background: #000;
      margin: 0;
      padding: 0;
      text-align: center;
      margin-left: 10px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: #fff;
    }
    .socmed-link {
      i {
        position: relative;
        top: 2px;
      }
    }
  }    
}

.nav-circle-body {
  position: fixed;
  width: 15px;
  height: 15px;
  left: 130px;
  top: 50px;
  border-radius: 50%;
  background: $orange;
  z-index: 50;
  opacity: 0;
}

.product-active {
  transform: rotate(-180deg);
  transition: all .3s ease;
}

.nav-body {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 150px 200px;
  z-index: 50;
  display: none;

  .nav-body__item {
    font-family: 'font-bold';
    font-size: 55px;
    overflow: hidden;

    a {
      width: fit-content;
      display: block;
      color: #fff;
      text-decoration: none;
      // transition: all 0.2s ;

      // &:hover {
      //   transform: translate3d(0,-100%,0) !important;
      //   transition: all 0.2s ;
      // }

      &:before {
        content: attr(data-text);
        position: absolute;
        display: block;
        color: #000;
        transform: translate3d(0, 80px, 0);
      }
    }

    .product-list {
      width: fit-content;
      color: #fff;
      cursor: pointer;
      .fa-caret-down {
        transition: all .3s ease;
      }
    }

    .nav-item-down {
      font-size: 35px;
      // transition: all .3s ease;
      display: none;
      margin-left: 30px;
      overflow: hidden;

      a {
        width: fit-content;
        color: #fff;
        text-decoration: none;
  
        &:before {
          content: attr(data-text);
          position: absolute;
          display: block;
          color: #000;
          transform: translate3d(0, 50px, 0);
        }
      }      
    }
    
  }

  .socmed-navbody {
    position: absolute;
    display: flex;
    bottom: 100px;
    a {
      font-size: 25px;
      // background: #000;
      margin: 0;
      padding: 0;
      text-align: center;
      margin-right: 10px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: #fff;
    }
    .socmed-link {
      i {
        position: relative;
        // top: 2px;
      }
    }
  }
}


$More-transition-duration: 0.4s;
$More-dot-color: #fff;
$More-icon-color: #3e57ba;

.More {
  // display: flex;
  cursor: pointer;
  position: fixed;
}

.menu-dots {
  display: flex;
}

.More-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.menu-title {
  font-size: 13px;
  margin-left: 5px;
  font-family: 'font-bold';
  letter-spacing: 1.7px;
  color: $orange;

  span {
    font-size: 13px;
  }
}

.More-checkbox {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  
  &:checked ~ .More-dot--left::before {
    transform: translateX(100%);
  }
  
  &:checked ~ .More-dot--right::before {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  &:checked ~ .More-dot--center {
    &::before {
      transform: scale(4); 
      background-color: #fff;
    }
    
    &::after {
      opacity: 0;
      transform: scale(8);
    }
  }
  
  &:checked ~ .More-dot .More-icon {
    opacity: 1;
    transform: rotate(0);
  }
}

.More-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: #FEB404;
    transition: $More-transition-duration transform ease;
    content: "";
  }

  &.More-dot--right {
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background: #BB5D05;
      transition: $More-transition-duration transform ease;
      content: "";
    }
  }
}

.More-dot--center {
  &::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #F7941C;
    opacity: 1;
    transition: $More-transition-duration opacity ease, $More-transition-duration transform ease;
    content: "";
  }
}

.More-icon {
  position: relative;
  z-index: 1;
  width: 44px;
  height: 44px;
  opacity: 0;
  transition: $More-transition-duration opacity ease, $More-transition-duration transform ease;
  transform: rotate(-90deg);
  fill: $More-icon-color;
}

// RESPONSSIVE

@media #{$small_mobile} {
  .More {
    transform: scale(0.8);
  }
  .nav-body {
    padding: 150px 35px 35px;
  }
  .nav-body__item {
    a, .product-list {
      font-size: 40px;
    }
  }
  .nav-item-down {
    a {
      font-size: 30px;
    }
  }
  .footer_mobile {
    font-size: 11px;
  }
  &:checked ~ .More-dot--center {
    &::before {
      transform: scale(3) !important; 
      background-color: #fff;
    }
    
    &::after {
      opacity: 0;
      transform: scale(5) !important;
    }
  }
  .nav-circle-body {
    top: 25px;
    left: 50px;
  }
}

@media #{$large_mobile} {
  header {
    padding: 50px 50px
  }
  .nav-body {
    padding: 130px 50px 20px;
  }
  .socmed {
    right: 40px !important;
  }
}

@media #{$tab_device} {
  .nav-body {
    padding: 120px 80px;
  }
}

// GLobal Mobile
@media screen and (max-width: 600px) {
  .profile-page {
    width: 100vw;
    height: 100vh;
  }
  #logo-header {
    img {
      margin-right: 25px !important;
      left: auto !important;
      width: 35% !important;
    }
  }

  #innerLogo {
    img {
      margin-right: 25px !important;
      left: auto !important;
      width: 35% !important;
    }
  }  
  header {
    padding: 25px 20px
  }
  footer {
    .footer-menu {
      justify-content: center;
      margin-bottom: 10px !important;
      li {
        margin-right: 10px;
      }
    }
  }
}
