header {
  position: fixed;
  width: 100%;
  z-index: 99999;
  padding: 50px 75px;

  .backDrop {
    position: fixed;
    width: 100%;
    height: 120px;
    margin: auto;
    top: 0;
    left: 0;
    // background: rgba($color: #000000, $alpha: 0.1);

    &:before {
      content: "";
      margin: 0;
      width: 100%;
      height: 100%;
      top: 0;
      backdrop-filter: blur(5px);
      position: absolute;  
    }
  }

  .logo-header {
    img {
      position: fixed;
      width: 15%;
      height: auto;
      margin: auto;
      left: 0;
      right: 0;
    }
  }
  .burger {
    position: fixed;
    color: #fff;
    cursor: pointer;

    .menu-icon {
      display: flex;

      .nav-menu {
        margin-right: 10px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        &:nth-child(1) {
          background: #FEB404;
        }
        &:nth-child(2) {
          background: #F7941C;
        }
        &:nth-child(3) {
          background: #BB5D05;
        }            
      }
    }
    span {
      font-size: 13px;
      letter-spacing: 0.5px;
      color: #FEB404;
      font-family: 'font-bold';
    }
  }

  .socmed {
    position: fixed;
    right: 70px;
    display: flex;
    a {
      font-size: 25px;
      background: #000;
      margin: 0;
      padding: 0;
      text-align: center;
      margin-left: 10px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: #fff;
    }
    .socmed-link {
      i {
        position: relative;
        top: 2px;
      }
    }
  }
}

.homepage {
  width: 100%;
  height: auto;
  background: linear-gradient(341.86deg, rgba(0, 0, 0, 0) -57.23%, #000000 -32.28%, rgba(0, 0, 0, 0.96) 9.38%, rgba(0, 31, 61, 0.987368) 57.85%, #002E59 117.22%);
  padding: 150px 150px 100px 150px;

  .working-step {
    justify-content: center;
    display: flex;
    color: #fff;

    .step_list {
      width: 130px;
      height: 130px;
      // padding: 10px;
      border: 2px solid #9E9E9E;
      border-radius: 50%;
      text-align: center;
      vertical-align: center;

      span {
        font-size: 50px;
      }
    }
  }

  .hero {
    // position: absolute;
    // background: url('/contact/img/hero.png');
    // width: 500px;
    // height: 100%;
    // background-size: cover;
    // right: 0;
    .list {
      height: 100vh;
      float: left;
      overflow: hidden;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .btn-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(109.81% 127.03% at 0% -25.98%, #0E4D65 0%, #002E59 37.57%, #000000 70.5%);
  }

  button {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 50%;
    padding: 10px 40px;
    border: 1px solid rgba(144, 202, 249, 0.5);
    border-radius: 5px;
    // background-color: transparent;
    background-color: $orange;
    // color: rgb(144, 202, 249);
    color: #021425;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    &:hover {
      background: rgba(144, 202, 249, 0.08);
      color: rgb(144, 202, 249);
      // background: $orange;
      border: 1px solid rgb(144, 202, 249);  
    }
    span {
      text-transform: uppercase;
    }    
  }
}

.product-active {
  transform: rotate(-180deg);
  transition: all .3s ease;
}

.nav-body {
  position: fixed;
  padding: 150px 200px;
  z-index: 50;
  // display: none;
  .nav-body__item {
    font-family: 'font-bold';
    font-size: 50px;
    overflow: hidden;

    .product-list {
      color: #fff;
      cursor: pointer;
      .fa-caret-down {
        transition: all .3s ease;
      }
    }

    .nav-item-down {
      font-size: 25px;
      transition: all .3s ease;
      display: none;
    }
    
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}


$More-transition-duration: 0.4s;
$More-dot-color: #fff;
$More-icon-color: #3e57ba;

.More {
  // display: flex;
  cursor: pointer;
  position: fixed;
}

.menu-dots {
  display: flex;
}

.More-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.menu-title {
  font-size: 13px;
  margin-left: 5px;
  font-family: 'font-bold';
  letter-spacing: 1.7px;
  color: $orange;
}

.More-checkbox {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  
  &:checked ~ .More-dot--left::before {
    transform: translateX(100%);
  }
  
  &:checked ~ .More-dot--right::before {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  &:checked ~ .More-dot--center {
    &::before {
      transform: scale(4); 
      background-color: #fff;
    }
    
    &::after {
      opacity: 0;
      transform: scale(8);
    }
  }
  
  &:checked ~ .More-dot .More-icon {
    opacity: 1;
    transform: rotate(0);
  }
}

.More-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: #FEB404;
    transition: $More-transition-duration transform ease;
    content: "";
  }

  &.More-dot--right {
    &::before {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background: #BB5D05;
      transition: $More-transition-duration transform ease;
      content: "";
    }
  }
}

.More-dot--center {
  &::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #F7941C;
    opacity: 1;
    transition: $More-transition-duration opacity ease, $More-transition-duration transform ease;
    content: "";
  }
}

.More-icon {
  position: relative;
  z-index: 1;
  width: 44px;
  height: 44px;
  opacity: 0;
  transition: $More-transition-duration opacity ease, $More-transition-duration transform ease;
  transform: rotate(-90deg);
  fill: $More-icon-color;
}

.nav-circle-body {
  position: fixed;
  width: 15px;
  height: 15px;
  left: 130px;
  top: 50px;
  border-radius: 50%;
  background: $orange;
  z-index: 50;
}
