.mov-g {
  // padding-top: 150px;
  position: relative;
  overflow: hidden;
  width: 100%;
  // height: 100vh;
  margin: 0;
  // background: url('img/gloves.png');
  // background-size: 60%;
  // background-repeat: no-repeat;
  // background-position-x: right;

  .hero-wrapper {
    position: absolute;
    width: 50%;  
    height: 100%;
    top: 0;

    video {
      position: absolute;
      top: -100px;
      // right: 0;
    }
  }


  .parallax-container {
    padding: 200px 0 100px;
    position: relative;
    overflow: hidden;
    height: 800px;
  }

  .parallax {
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 800px;
      background: linear-gradient(291.04deg, rgba(0, 0, 0, 0) -3.7%, rgba(0, 0, 0, 0.0161908) 20.7%, rgba(19, 19, 23, 0.987368) 55.83%, rgba(0, 31, 61, 0.987368) 90.01%);
      top: 0;
      z-index: 1;
      left: 0;  
    }
  }

  .gloves-wrapper {
    text-align: center;
    display: inline-block;

    img {
      width: 200px;
    }
  }

  .hero-img {
    position: absolute;
    object-fit: cover;
    width: 50%;
    top: 0;
    right: 0;
    img {
      width: 100%;
      height: 100%;
      mask-image: -webkit-gradient(linear, left 10%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      -webkit-mask-image: -webkit-gradient(linear, left 10%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    }

    @media #{$medium_device} {
      width: 60%;
    }

    @media #{$tab_device} {
      width: 70%;
    }

    @media #{$large_mobile} {
      width: 80%;
    }

    @media #{$small_mobile} {
      width: 100%;
    }
  }

  .backdrop_hero {
    position: absolute;
    background: linear-gradient(0deg, #000000 -18.71%, #000000 -0.84%, #000000 28.02%, rgba(0, 31, 61, 0.987368) 69.32%, #002E59 106.24%);
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    &:before {
      content: "";
      position: absolute;
      // background: url('img/mov-icon.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: -350px -120px;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.5;
    }
  }

  .gloves-icon {
    width: 100px;
    height: 100px;
    border: 2px solid $moverse;
    border-radius: 50%;
  }
  .gloves-specs {
    margin-bottom: 50px;
    img {
      width: 80px;
    }
  }

  a {
    color: #fff;

    // &.modal-trigger {
    //   margin-top: 100px !important;
    // }
  }

  img {
    &.img-blend {
      width: 15%;
      position: absolute;
      top: 220px;
      right: 220px;
    }
  }

  #gloves_guide {
    margin-top: 50px;
    img {
      width: 100%;
      height: 100%;
    }
  } 
}

@media #{$small_mobile} {
  .gloves-wrapper {
    margin-bottom: 350px !important;
  }
  .img-blend {
    width: 30% !important;
    top: 130px !important;
    right: 30px !important;
  }
}

@media #{$large_mobile} {
  .img-blend {
    width: 25% !important;
    top: 150px !important;
    right: 60px !important;
  }
}
